.accomodation{
    display: flex;
    justify-content: center;
}

.accomodation_infos{
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: $color-1;


&_location{
    width: 50%;
    display: flex;
    flex-direction: column;
    border-color: black;
    justify-content: space-around;

    &_tags{
        display: flex;
        gap: 30px;
        
    }


    button{
        width: 100px;
        height: 30px;
        cursor: pointer;
        border: none;
        border-radius: 10px;
        background-color: $color-1;
        color: white;
      
    }
}

&_host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

}

.hostPicture{
    clip-path:ellipse(50% 50%);
}


.collapse{
    width: 100%;
    display: flex;
    
}

.accomodation_collapse{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;

&_description{
    width: 100%;

    .collapse{
        width: 100%;
    }
}

&_equipement{
    width: 100%;
}


}